.botoes {

    display: flex; 
    gap: 24px;              
    margin: 0px 0 0 40px; 
    padding-top: 30px;
}



.navLink {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden; 
    border-radius: 12px;
}


.navLink::before {

    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 183, 0, 0.5),
        transparent
    );
    animation: brilho 6s infinite;
}

@keyframes brilho {
    0% {
        left: -100%;
    }
    20%, 100% {
        left: 100%;
    }
}


.navLink:hover {

    transform: translatey(-5px);
}




.botoesLink {

    width: 100px;
    height: 100px;
    object-fit: contain;  
    display: block;
}

.span{

    color: rgba(255, 255, 255, 0.85);
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 5px;
}

.small{

    font-size: 1.1rem;
     text-transform: uppercase;
    color: rgba(255, 183, 0, 0.696);
    letter-spacing: 1px;

}