.content{

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 10px 37px;
    border: 1px solid goldenrod;
 
}



.Titulo {

    font-size: 2rem;
    color: white
}



.ul{

    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 15px;
    list-style: none;
}


.LiCheck{
    
    line-height: 2.5;
    color: white;
    font-size: 1.1rem;
}

.LiCheck::before {

    content: "✔  ";
    padding-right: 10px;
    color: rgb(2, 205, 2); 
}

.Li {

    line-height: 2.5;
    color: rgba(227, 219, 219, 0.604);
    font-size: 1.1rem;
    list-style: none; 
}

.Li::before {

    content: "𐄂 "; 
    padding-right: 10px;
    color: rgb(108, 124, 108); 
}



.Preco{

    margin-top: 5px;
    color: goldenrod;
    font-size: 1.4rem;
    font-weight: bold;
}


.p{

    margin-top: 10px;
    color: goldenrod;
    font-size: 1.2rem;
}

