.capa {

    position: absolute; 
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.capa::after {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to right,
        transparent 50%,
        rgba(0, 0, 0, 0.3) 90%,
        rgba(0, 0, 0, 0.8) 100%,
        #000 100%
    );
    z-index: 1;
}

.imagem {

    width: 80%;
    height: 100%;
    -webkit-mask-image: linear-gradient(
        to right,
        black 50%,
        transparent 100%
    );

    mask-image: linear-gradient(
        to right,
        rgb(0, 0, 0) 50%,
        transparent 100%
    );
}




