.formMar {

    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 520px;
    width: 100%;
    margin-top: 120px;
    margin-left: 700px;
    padding: 32px 28px;
    background-color: #181f2a;
    border: 2px solid rgba(1, 26, 57, 0.858);
    border-radius: 18px;
    box-shadow: 1px 1px 15px 0px goldenrod;
}

.titulo {

    color: white;
    font-size: 2rem;
    font-weight: 700;
    margin: 0 0 4px 0;
    text-align: center;
}

.campo {

    display: flex;
    flex-direction: column;
    gap: 6px;
}

.campo label {

    color: #cbd5e1;
    font-size: 1.2rem;
    font-weight: 500;
}

.campo input {

    padding: 12px 16px;
    font-size: 1rem;
    color: white;
    background-color: #8b94a7;
    border: 1px solid #334155;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.campo input::placeholder {

     color: #021e44;
}

.campo input:focus {

    border-color: goldenrod;
    box-shadow: 0 0 0 3px rgba(218, 165, 32, 0.15);
}

.botao {
        
    margin-top: 8px;
    padding: 14px 0;
    width: 100%;

    font-size: 1.5rem;
    font-weight: 700;
    color: #0f172a;
    background-color: goldenrod;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.25s ease, transform 0.2s ease, box-shadow 0.25s ease;
}

.botao:hover {

    background-color: #facc15;
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(218, 165, 32, 0.35);
}

.botao:active {
    
    transform: translateY(0);
}

.campo select {

    padding: 12px 16px;
    font-size: 1.2rem;
    color: white;
    background-color: #0f172a;
    border: 1px solid #334155;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    appearance: none;  /* remove seta padrão */
}

.campo select:focus {

    border-color: goldenrod;
    box-shadow: 0 0 0 3px rgba(218, 165, 32, 0.15);
}

.campo select option {

    background-color: #1e293b;
    color: white;
}

.campo input[type="date"],
.campo input[type="time"] {

    padding: 12px 16px;
    font-size: 1.2rem;
    color: rgb(0, 14, 25);
    background-color: #8e96a8;
    border: 1px solid #334155;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.campo input[type="date"]:focus,
.campo input[type="time"]:focus {

  border-color: goldenrod;
  box-shadow: 0 0 0 3px rgba(218, 165, 32, 0.15);
}

/* Cor do ícone do calendário/relógio */
.campo input[type="date"]::-webkit-calendar-picker-indicator,
.campo input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(0.8);  /* ícone mais claro */
  cursor: pointer;
}

/* Cor do ícone no hover */
.campo input[type="date"]:hover::-webkit-calendar-picker-indicator,
.campo input[type="time"]:hover::-webkit-calendar-picker-indicator {
  filter: invert(1) sepia(1) saturate(5) hue-rotate(10deg);  /* tom dourado */
}