.slogan {

    text-transform: uppercase;
    margin: 30px 0 0 40px;
    text-align: start;
}

.textoBranco{

    color: rgba(255, 255, 255, 0.851);
    font-size: 3.2rem;
    letter-spacing: 5px;
    font-weight: bold;

}

.textoDourado{

    color: rgba(255, 183, 0, 0.862);
    font-size: 3.2rem;
    letter-spacing: 5px;
    padding-bottom: 10px;
}

.divisor {

    position: relative;
    border: 1px solid rgba(255, 183, 0, 0.696);
    width: 100px;
    left: 230px;
}



.divisor1{

    border: 2px solid rgba(255, 183, 0, 0.696);
    width: 60px;
}

.slogan2{

    text-transform: uppercase;
    margin: 10px 0 0 40px;
    text-align: start;
}

.pBranco{

    position: relative;
    color: rgba(255, 255, 255, 0.851);
    font-size: 1.6rem;
}

.pDourado{

    position: relative;
    color: rgba(255, 183, 0, 0.862);
    font-size: 1.6rem;
    bottom: 30px;
    left: 235px;

}