.standard{

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 10px 37px;
    background-color: #02172c7f;
    border: 1px solid goldenrod;
    border-radius: 12px;
}



.standardTitulo {

    font-size: 2rem;
    color: white
}

.ulBasico{

    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 15px;
    list-style: none;
}


.standardLi{
    
    list-style-type: "✦  ";
    color: white;
    font-size: 1.2rem;
}

.standardP{

    color: goldenrod;
    font-size: 1.2rem;
}