.premium{

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 120px;
    right: 80px;
    padding: 10px 37px;
    background-color: #02172c7f;
    border: 1px solid goldenrod;
    border-radius: 12px;
}

.premiumTitulo {

    font-size: 2rem;
    color: white
}

.premiumH2{

    color: goldenrod;
    font-size: 1.2rem;
}


.premiumLi{
    
    list-style-type: "✦  ";
    color: white;
    font-size: 1.2rem;
}

.premiumP{

    color: goldenrod;
    font-size: 1.2rem;
}