.footer {

    display: flex;
    flex-direction: column; 
    gap: 24px;              
    margin: 0px 0 0 40px; 
    padding: 30px;
    gap: 15px;
}

.span{

    color:rgb(58, 24, 24);
    font-size: 1.2rem;
}

.small{

    color: goldenrod;
    font-size: 1.1rem;
}


.navLink {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden; 
    border-radius: 12px;
    padding: 10px;
    opacity: 0;
}

.visivel {

    animation: entradaRotacao 0.6s ease forwards;
}

.footerImg{

    width: 100px;
    height: 100px;
    object-fit: contain;  
    display: block;
}

.navLink:nth-child(1) { animation-delay: 0s; }
.navLink:nth-child(2) { animation-delay: 0.2s; }
.navLink:nth-child(3) { animation-delay: 0.4s; }

@keyframes entradaRotacao {
  0% {
    opacity: 0;
    transform: rotate(-180deg) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
}

