* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
    overflow-x: hidden;
}

html, body, #root {
    
    margin: 0;
    padding: 0;
}

body {
    background: rgb(255, 255, 255);
}